<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid mx-5">
    <div class="row mt-5">
        <h2 th:text="'Machine ' + ${machine.uuid} + ' details:'"></h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">CPUS</th>
                <th scope="col">GPUS</th>
                <th scope="col">Memory</th>
                <th scope="col">Local storage</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${machine.name}">12345</td>
                <td th:text="${machine.cpus}">200</td>
                <td th:text="${machine.gpus}">1024</td>
                <td th:text="${machine.memory}">2048</td>
                <td th:text="${machine.localStorage}">2048</td>
            </tr>
            </tbody>
        </table>
    </div>
    <form action="/machine-manager/management/machines">
        <input type="hidden" id="supplierId" name="supplierId" th:value="${id}"
               modelAttribute="supplierId"/>
        <button class="btn btn-primary float-left">Back</button>
    </form>
</div>
</body>
</html>
