<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <script>
        const showToken = function () {
            document.getElementById("token").style.display = 'block';
        };
    </script>
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div class="row mt-5">
        <div>
            <button class="btn btn-info" onclick="showToken()">Show token</button>
        </div>
        <h2 id="token" th:text="' Token: ' + ${machine.uuid}" style="display: none"></h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">CPUS[cores]</th>
                <th scope="col">GPUS[GB]</th>
                <th scope="col">Memory[GB]</th>
                <th scope="col">Local storage[GB]</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${machine.name}">12345</td>
                <td th:text="${machine.cpus}">200</td>
                <td th:text="${machine.gpus}">1024</td>
                <td th:text="${machine.memory}">2048</td>
                <td th:text="${machine.localStorage}">2048</td>
                <td th:text="${machine.status}">UNKNOWN</td>
            </tr>
            </tbody>
        </table>
    </div>
    <form action="/machine-manager/management/machines">
        <button class="btn btn-primary float-left">Back</button>
    </form>
</div>
</body>
</html>
