<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid mx-5">
    <div class="row mt-5">
        <h2 th:text="${supplierId} + ' owned machines:'"></h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <!--                <th scope="col">UUID</th>-->
                <th scope="col">Machine name</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="machine, indexStat : ${machines}">
                <td th:name="${machine.id}" th:id="${machine.id}">
                    <form th:action="'/machine-manager/management/machine/' + ${machine.id}">
                        <input type="hidden" id="id" name="id" th:value="${supplierId}"
                               modelAttribute="id"/>
                        <button class="btn btn-info">Details</button>
                    </form>
                </td>
                <!--                <td th:text="${machine.uuid}">12345</td>-->
                <td th:text="${machine.name}">12345</td>
                <td th:text="${machine.status}">12345</td>
            </tr>
            </tbody>
        </table>
    </div>
    <form action="/">
        <input type="hidden" id="supplierId" name="supplierId" th:value="${supplierId}"
               modelAttribute="supplierId"/>
        <button class="btn btn-primary float-left">Back</button>
    </form>
</div>
</body>
</html>
