<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h2>Menu:</h2>
    <span th:text="'Welcome ' + ${supplierId}">tst</span>
    <div class="row my-2">
        <div class="col text-center">
            <form th:action="@{/machine-manager/managment/machines}">
                <input type="hidden" id="supplierId" name="supplierId" th:value="${supplierId}"
                       modelAttribute="supplierId"/>
                <button class="btn btn-secondary">Show owned machines</button>
            </form>
        </div>
        <div class="col text-center">
            <form action="/create" method="get">
                <input type="hidden" id="id" name="id" th:value="${supplierId}"
                       modelAttribute="id"/>
                <button class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>
<footer>
</footer>
</body>
</html>
